[submodule "pelican-plugins"]
        path = pelican-plugins
        url = git://github.com/getpelican/pelican-plugins.git

[submodule "clean-blog-theme"]
        path = clean-blog-theme
        url = https://github.com/gobrewers14/clean-blog-theme.git
