[submodule "plugins/pelican-plugins"]
    path = plugins/pelican-plugins
    url = https://github.com/getpelican/pelican-plugins.git

[submodule "theme/pelican-clean-blog"]
    path = theme/pelican-clean-blog
    url = https://github.com/gilsondev/pelican-clean-blog.git
